 body {
  background-image: url("zdjecia/tlo.jpg");
  background-size: 1920px;
  background-repeat: repeat;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

/* Paletta kolorów
#121418 - najbardziej ciemniejszy szary
#1a1f25 - bardziej ciemniejszy szary
#222831 - bardzo ciemny szary
#393E46 - ciemny szaroniebieski
#00ADB5 - cyjanowy odcień niebieskiego
#EEEEEE - bardzo jasny szary
*/

h2 {
	text-align: center;
}
a {
	text-decoration: none;
}
button {
	color: white;
	background-color: #EEEEEE;
	display: inline-block;
	position: relative;
	padding: 4px;
	border: 2px solid black;
}
button:hover {
	background-color: #00ADB5;
}
button:active {
	background-color: #00ADB5;
}


#pudlo {
	color: white;
	width: 80%;
	margin: auto;
	margin-top: 0;
	display: block;
}
#banner {
	color: white;
	text-shadow: 1px 1px 0 #000;
	padding-left: 10px;
	background-color: #1a1f25;
	border: 2px dashed black;
	position: sticky;
}
#zakladki {
	padding: 1px;
	padding-left: 5px;
	padding-bottom: 10px;
	background-color: #393E46;
	height: auto;
	overflow: auto;
	border-left: solid 15px #222831;
}
#pole {
	background-color: #393E46;
	min-height: 200px;
	height: auto;
	border-style: groove;
	padding: 5px;

	font-family: "Open Sans", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 500;
 	font-style: normal;
}
#stopka {
	background-color: #222831;
	text-shadow: 1px 1px 0 #000;
	padding: 10px;
	text-align: center;
	display: block;
}
