 body {
  background-image: url("zdjecia/tlo.jpg");
  background-size: 1920px;
  background-repeat: repeat;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}


a {
	color: white;
	list-style-type: none;
	text-decoration: none;
	background-color: #FFF1D5;
	display: inline-block;
	position: relative;
	padding: 4px;
	border: 2px solid black;
}
a:hover {
	text-decoration: none;
	background-color: #9EC6F3;
}
a:active {
	text-decoration: none;
	background-color: #9EC6F3;
}


#pudlo {
	color: white;
	width: 80%;
	margin: auto;
	margin-top: 0;
	display: block;
}
#banner {
	color: white;
	text-shadow: 1px 1px 0 #000;
	padding-left: 10px;
	background-color: #9FB3DF;
	border: 2px dashed black;
	position: sticky;
}
#zakladki {
	padding: 1px;
	padding-left: 5px;
	background-color: #9EC6F3;
	height: 100px;
	overflow: auto;
}
#pole {
	background-color: #FFF1D5;
	min-height: 200px;
}
#stopka {
	background-color: #BDDDE4;
	padding: 10px;
	text-align: center;
	display: block;
}
